{{#if collection}}
	<div class='values'>
		{{#each collection as |value|}}
			<div class='value'>
				{{d-button 
					action='removeValue'
					actionParam=value
					icon='times'
					class='btn-small no-text'
				}}
				<pre><code>{{value}}</code></pre>
			</div>
		{{/each}}
	</div>
{{/if}}
<div class='input'>
	{{d-button
		action='addValue'
		icon='plus'
		class='btn-primary btn-small no-text'
		disabled=inputInvalid
	}}
	{{textarea value=newValue placeholderKey=addKey}}
</div>
