.paypal-buttons {
	padding-right: 4px;
	.item {
		margin-bottom: 8px;
		.row-1 {
			width: 100%;
			overflow: hidden;
			margin-bottom: 4px;
			input {
				float: left;
				width: 12em;
				display: block;
			}
			button {float: right;}
		}
		textarea {
			width: 100%;
			box-sizing: border-box;
			height: 100px;
		}
	}
	.items {
		margin-bottom: 10px;
		button {
			background: transparent;
			&:hover {background: #e9e9e9;}
			i.fa {color: #e45735;}
		}
	}
}