.paypal-buttons {
	padding-right: 4px;
	.item {
		margin-bottom: 8px;
		.row-1 {
			width: 100%;
			overflow: hidden;
			margin-bottom: 4px;
			input {
				float: left;
				width: 12em;
				display: block;
			}
			button {
				float: right;
				//background: transparent;
				//i.fa {color: rgb(145, 145, 145);}
				/*&:hover {
					i {
						&.fa-plus {color: rgb(0, 136, 204);}
						&.fa-times {color: #e45735;}
					}
				} */
			}
		}
		textarea {
			width: 100%;
			box-sizing: border-box;
			height: 100px;
		}
	}
	.items {
		margin-bottom: 10px;
		button {
			background: transparent;
			i.fa {color: rgb(145, 145, 145);}
			&:hover {
				i {
					&.fa-times {color: #e45735;}
				}
			}
		}
	}
}